<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitacora</title>
</head>
<body>
    <h1>Introducza la información</h1>
    <form action="" method="post">
        ID Vigilante: <input type="number" name="id" id=""><br>
        Sección: <select name="seccion">
            <option value="Bloque A">Bloque A</option>
            <option value="Bloque B">Bloque B</option>
            <option value="Bloque C">Bloque C</option>
            <option value="Bloque D">Bloque D</option>
            <option value="Bloque E">Bloque E</option>
            <option value="Bloque F">Bloque F</option>
        </select><br>
        Estado:<br><input type="radio" name="estado" value="OK"> Correcto<br>
        <input type="radio" name="estado" value="KO"> Incorrecto<br>
        Anotaciones:<br>
        <textarea name="anotaciones" id=""></textarea><br>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>